body{
    margin: 0;
    background-color: #ffb235; 
    /* background-color: rgba(201, 201, 201, 0.856); */
}


svg{
    display:block;
    position: absolute;
    width:100%;
    height:100vh;
    /* margin:0 auto; */
  }
  path{
    transition:fill .5s;
    fill:white;
  }



.box{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    /* left: 5px; */
    width: 100%;
    height: 100vh;
}

.box #a{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.main{
    background-image: url("../imgs/colorpalette.png");
    /* background-color: aliceblue; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}

.obj{
    background-color: white;
    width: 100%;
    height: 100vh;
    mask-image: url("../imgs/testing.svg");
    -webkit-mask-image: url("../imgs/testing.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100px;
    -webkit-mask-size: 100px;
    mask-position: center;
    -webkit-mask-position: center;

    animation: screen-fill 700ms ease-in-out;

}

.masking{

    width: 100%;
    height: 100%;
    mask-image: url("../imgs/testing.svg");
    -webkit-mask-image: url("../imgs/testing.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100px;
    -webkit-mask-size: 100px;
    mask-position: center;
    -webkit-mask-position: center;
    animation: grow-box 700ms ease-in-out;

    /* position: absolute;
    width: 100%;
    height: 100%;
    mask-image: url("../imgs/testing.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    animation: grow-box 600ms ease-in-out; */
}

/* 

KEYFRAMES 

*/

@keyframes screen-fill{
    0%{
        transform: scale(0%);
      }
    60% {
        transform: scale(10000%);
    }    
}

@keyframes flip-box{
    0%{
        transform: rotate(0deg);
      }
    80%{
        transform: rotate(190deg);
    }
    90%{
        transform: rotate(175deg);

    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes grow-box{
    0%{
        transform: scale(50%);
    }
    80%{
        transform: scale(110%);
    }
    90%{
        transform: scale(95%);

    }
    100%{
        transform: scale(100%);
    }
}

@keyframes body-load{
    0%{
        transform: translateY(-100%);
        transform: translateX(-100%);
    }

    80%{
        transform: translateX(2%);
    }

    100%{
        transform: translateX(0%);
        transform: translateY(0%);
    }
}